<header>
	<h1>Eat Da Burger!</h1>
</header><!-- /header -->

<div class="wrapper">
	<div id="create-burger">
		<form action="/" method="POST">
			<input id="burger-name" type="text" name="burger_name" placeholder="Create Da Burger">
			<button id="submit-btn" type="submit">Wish Come True</button>
		</form>
	</div>

	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Available To Put In Your Belly Now</h2>
			{{#each burgers}}
				{{#unless devoured}}
				  <div class="burger">
				    <form class="devour-burger-form" action="/{{id}}?_method=PUT" method="POST">
				  		<button class="eat-btn btn-danger">Consume Calories</button>
				    </form>
						{{burger_name}} <span>#{{id}}</span>
				  </div>
				{{/unless}}
			{{/each}}
		</div>
		<div id="burgers-devoured">
			<h2>Burger Heaven</h2>
			{{#each burgers}}
				{{#if devoured}}
				  <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>
</div>